body{
    background-color: rgb(194, 194, 194);
    font-family: Arial, sans-serif;
}

div{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 600px;
    height: 100px;
    margin: 20px;
}
p{
    font-size: 15px;
    color: rgb(94, 94, 94);
}


